#local configuration file example
#rename it config_local.py and set your local configuration

#notice with condor configuration should be read-only. Every time you change something you should create a new configuration file

import config

cfg=config.cfg

cfg.multipr=8
cfg.savefeat=False
cfg.loadfeat=False
cfg.savedir=""#"/state/partition1/marcopede/INRIA/hog/"

#cfg.dbpath = "/share/ISE/marcopede/database/" #database path
#cfg.dbpath = "/home/marcopede/databases/" #database path
cfg.dbpath = "/users/visics/mpederso/databases/" #database path
cfg.maxpos=10000 #maximum number of positive images should be 10000
cfg.maxtest=200 #0 #maximum number of test images
cfg.maxtestfull=20000 #0 #maximum number of test images
cfg.maxneg=200 #maximum number of negative images
cfg.maxnegfull=2000
cfg.maxexamples=25000 #maximum number of examples (from 30000 to 25000 to fit in memory)

cfg.db="VOC"#"inria"#"buffy"#"VOC"#"adondemand"#"VOC"#"inria"#"ivan"#"VOC"
#additional for pascal
cfg.lev=[3,3,3,3,3]
cfg.numcl=2
cfg.numneginpos=0#6/cfg.numcl #reduce the number of negatives
cfg.svmc=0.001#0.001
cfg.cls="bicycle"
cfg.year="2007"
cfg.show=True
cfg.thr=-2      #threshold positives
cfg.mythr=-10   #threshold cascade
cfg.posovr=0.75#0.65
#cfg.perc=0.12
cfg.perc=0.12
cfg.posit=20#8
cfg.negit=15#5
cfg.useprior=False
cfg.dense=0
cfg.k=1.0#3:CRF#0.3:CF
cfg.useRL=True
cfg.kmeans=True
cfg.bestovr=True
cfg.resize=1.0
cfg.small=False
cfg.occl=False
cfg.usebow=False
cfg.trunc=0
#cfg.noiselev = 0.05
#cfg.ranktr=100 #for CRF should be 500
#cfg.denseinit=True
cfg.checkpoint=False #restart form the last point
#cfg.variablecache=False #use a cache that varies depending on the number of positive examples and uses maxexamples as muximum value
cfg.bias=100 #try if it works better...
#cfg.noreg=1
cfg.thr=-10
cfg.useclip=False
cfg.localdata="/esat/nereid/mpederso/VOC07/"
#cfg.maxHOG=30#70
cfg.N=3
cfg.maxHOG=120/(cfg.N**2)   
cfg.rescale=True#True
cfg.neginpos=False#True
cfg.numneg= 50
cfg.valreg=0.01
cfg.initdef=0.01 

cfg.small2=False
cfg.hallucinate=1 #important to set to 2 otherwise small2 would not work

cfg.comment    =""
cfg.testpath="./data/CRF/12_10_06/"
cfg.testspec="test"

mydebug=True
if mydebug:
    #notice that i you use checkpoints, use unique testspec otherwise they will be overwritten!!!!!
    cfg.testspec="testN4moredef" 
    cfg.posthr=-1 #to discard noise
    cfg.checkpoint=True
    cfg.forcescratch=False
    cfg.multipr=4
    cfg.useclip=True
    cfg.rescale=True
    #cfg.maxpos=50#20 #maximum number of positive images
    #cfg.maxtest=50#20 #0 #maximum number of test images
    #cfg.maxtestfull=100
    #cfg.maxneg=50#20 #maximum number of negative images
    #cfg.maxnegfull=100
    #cfg.maxexamples=10000 #maximum number of examples
    cfg.svmc=0.001
    cfg.N=4
    cfg.numcl=1
    cfg.maxHOG=120/(cfg.N**2)
    cfg.k=1.0#3:CRF#0.3:CF
    #cfg.valreg=0.01*cfg.k*cfg.N**2 #good for N=2
    #cfg.valreg=0.001*cfg.k*cfg.N**2 #good for N=4
    cfg.valreg=0.001*cfg.k*cfg.N**2 
    cfg.initdef=0.01*cfg.k*cfg.N**2


cfg.usebbTEST=True
cfg.numhypTEST=50
cfg.aiterTEST=3
cfg.restartTEST=0
cfg.intervTEST=5

cfg.usebbPOS=True #note for bb numhyp is the total number of detections while for the normal method is the number of hypotheses per scale
cfg.numhypPOS=50
cfg.aiterPOS=3
cfg.restartPOS=0
cfg.invervPOS=5

cfg.usebbNEG=True
cfg.numhypNEG=50#cfg.neginpos
cfg.aiterNEG=3
cfg.restartNEG=0
cfg.invervNEG=5

